@font-face {
  font-family: ValueSerifPro;
  src: url(assets/value_serif_pro_regular.ttf);
}
@font-face {
  font-family: EuclidCircular;
  src: url(assets/euclid_circular_a_medium.ttf);
}

:root {
  --color1: #ffffff;
  --color2: #3ca6a6;
  --color3: #026773;
  --color4: #024959;
  --color5: #012e40;
  --colormarkup: #00ed64;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color5);
  overflow-x: hidden;
  min-height: 200vh;
}

::-webkit-scrollbar {
  background-color: var(--color5);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color2);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color3);
}

.n1 {
  width: 90vw;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
}
.n2 {
  background-color: var(--color4);
  display: flex;
  position: relative;
  top: 45px;
  justify-content: end;
}
.explanation-2{
  width: calc(90vw - 10px);
  position: relative;
  z-index: 2;
  background-color: var(--color5);
  border-top-left-radius: 50px;
  font-size: 28px;
  font-family: "ValueSerifPro";
  color: var(--color1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 75px 300px 75px 40px;
}
.background-n1{
  background-color: var(--color4);
  position: absolute;
  width: 100%;
  top: 50%;
  height: calc(50% + 45px);
  z-index: 1;
  border-bottom-right-radius: 50px;
}
.flow-n1{
  position: absolute;
  top: 95%;
  border-bottom-left-radius: 75px;
  left: 5vw;
  height: 250px;
  width: 150px;
  border-bottom: 3px solid var(--colormarkup);
  border-left: 3px solid var(--colormarkup);
}
header {
  height: 20vh;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-family: "ValueSerifPro";
  color: var(--color1);
  font-size: 35px;
}
.title {
  font-size: 50px;
  color: var(--colormarkup);
}
.title-second{
  font-size: 38px;
}
.explanation {
  font-size: 26px;
  position: relative;
  z-index: 1;
  padding: 100px 40px 20px 20px;
  font-family: "ValueSerifPro";
  color: var(--color1);
  background-color: var(--color5);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background-color: var(--color4);
  height: 100%;
  width: calc(100% + 30px);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.explanation>img{
  aspect-ratio: 1;
  width: 50%;
  left: calc(25% - 20px);
  position: relative;
}
.subtitle{
    font-size: 18px;
    color: var(--color2);
}
a{
    border-bottom: solid 2px var(--color4);
    text-decoration: none;
    color: inherit;
    width: fit-content;
}
a:hover{
    border-bottom: solid 2px var(--colormarkup);
}
span{
    color: var(--color2);
}
.images {
  width: 100%;
  position: relative;
  z-index: 1;
  height: fit-content;
  display: flex;
  gap: 0;
  flex-direction: column;
  border-radius: 50px;
  overflow: hidden;
}
.images>img{
    width: 100%;
    aspect-ratio: 16/9;
}
.n3{
  width: 100vw;
  display: grid;
  position: relative;
  top: 45px;
  grid-template-columns: 10vw 1fr;
  gap: 0px;
}
.border-completion{
  background-color: #024959;
  border-bottom-right-radius: 50px;
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 1024px) {
    .n1{
        grid-template-columns: 1fr;
        place-items: center;
    }
    header{
        font-size: 28px;
    }
    .explanation{
        border-radius: 10px;
        padding: 30px 20px;
        font-size: 22px;
        width: 90%;
        border-radius: 0px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .title{
        font-size: 38px;
    }
    .images{
        width: 90%;
        border-radius: 0px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}