@font-face {
  font-family: ValueSerifPro;
  src: url(assets/value_serif_pro_regular.ttf);
}
@font-face {
  font-family: EuclidCircular;
  src: url(assets/euclid_circular_a_medium.ttf);
}

:root {
  --color1: #ffffff;
  --color2: #3ca6a6;
  --color3: #026773;
  --color4: #024959;
  --color5: #012e40;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color5);
  overflow-x: hidden;
}
::-webkit-scrollbar {
  background-color: var(--color5);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color2);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color3);
}

main {
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
header {
  height: 20vh;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-family: "ValueSerifPro";
  color: var(--color1);
  font-size: 35px;
}
.title {
  font-size: 50px;
}
.explanation {
  font-size: 28px;
  padding: 100px 10px 100px 20px;
  font-family: "ValueSerifPro";
  color: var(--color1);
  background-color: var(--color5);
  border-radius: 100px;
  background-color: var(--color4);
  height: fit-content;
  width: 100%;
  left: 0;
  top: 20vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.subtitle{
    font-size: 18px;
    color: var(--color2);
}
a{
    border-bottom: solid 2px var(--color4);
    text-decoration: none;
    color: inherit;
    width: fit-content;
}
a:hover{
    border-bottom: solid 2px var(--color2);
}
span{
    color: var(--color2);
}
.images {
  width: 90%;
  height: fit-content;
  display: flex;
  gap: 0;
  flex-direction: column;
  border-radius: 50px;
  overflow: hidden;
}
.images>img{
    width: 100%;
    aspect-ratio: 16/9;
}

@media screen and (max-width: 1024px) {
    main{
        grid-template-columns: 1fr;
        place-items: center;
    }
    header{
        font-size: 28px;
    }
    .explanation{
        border-radius: 10px;
        padding: 30px 20px;
        font-size: 22px;
        width: 90%;
        border-radius: 0px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .title{
        font-size: 38px;
    }
    .images{
        width: 90%;
        border-radius: 0px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}